* {
    padding: 0px;
    margin: 0px;
}

.main {
    margin-top: 0px;
    width: 1000px;
    height: 1000px;
    background-color: red;
    position: relative;
}

.box {
    height: 100px;
    width: 100px;
}

.a {
    background-color: red;
    position: absolute;
    left: 200px;
    top: 100px;
}

.b {
    background-color: green;
}

.c {
    background-color: blue;
}

.d {
    background-color: violet;
}

.img {
    background-image: url(CoolFlixBackground.jpeg);
    top: 0px;
    height: 100%;
    width: 100%;
}